{% load static %}
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'home' %}"><img src="{% static 'demo_web/logo.jpg' %}" alt="My image" width="100"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active" href="{% url 'home' %}">
        <i class="fa-solid fa-house"></i> Home <span class="sr-only">(current)</span>
      </a>
      <a class="nav-item nav-link" href="{% url 'new' %}">
        <i class="fa-solid fa-wrench"></i> New post
      </a>
      <a class="nav-item nav-link" href ="https://www.facebook.com/nguyenphuocloc99">
        <i class="fa-brands fa-facebook"></i>
      </a>
      {% if user.is_authenticated %}
      <span class="nav-item nav-link">
        <i class="fa-solid fa-user"></i> Hello {{ user.username }}
      </span>
      <a class="btn btn-outline-danger my-2 my-sm-0" href="{% url 'logout' %}">Logout</a>
      {% else %}
      <a class="btn btn-outline-info my-2 my-sm-0" href="{% url 'signup' %}">Sign up</a>
      <a class="btn btn-outline-success my-2 my-sm-0" href="{% url 'login' %}">Login</a>
      {% endif %}
    </div>
  </div>
</nav>